html{
    font-family: Arial, Helvetica, sans-serif;
    background-color: gray;
}
header{
    text-align: center;
}
canvas{
    
    user-select: none;
}
button{
    background-color: #32a0a8;
    padding: 15px;
    border:none;
    text-align:center;
    text-decoration:none;
    transition: 200ms;
}
button:hover{
    background-color: #98d9e3;
}
header a {
    text-decoration: none;
}
body{
    width: 1000px;
    padding: 50px;
    margin:auto;
    background-color:white;
}
div.errortext{
    color: red;
    font-weight: bolder;
}
div.deck-stub{
    margin: 5px 5px;
    display: inline-block;
    width: 300px;
    text-align: center;
    outline: 2px solid black;
    font-size: 30px;
}
div.card-stub{
    margin: 5px 5px;
    display: inline-block;
    width: 200px;
    text-align: center;
    outline: 2px solid black;
    font-size: 30px;
}
div.deck-stub img, div.card-stub img{
    margin-top: 5px;
    width: 100%;
    height: 200px;;
}
div#content{
    text-align: center;
    margin-top: 20px;
}