div.sidebar{
    color: gold;
    background-color: darkred;
}
html{
    background-color: lightslategray;
}
body{
    background-color: red;
}
button{
    color: gold;
    background-color: darkred;

}
button:hover{
    color: gold;
    background-color: #c00000;

}