div.sidebar{
    color: gold;
    background-color: darkred;
}
html{
    background-color: lightslategray;
}
body{
    background-color: red;
}
@font-face {
    font-family: Kremlin;
    src: url(kremlin.ttf);
  }
button{
    color: gold;
    background-color: darkred;
    font-family: Kremlin;
}
button:hover{
    color: gold;
    background-color: #c00000;

}